@charset "utf-8";

/* CSS Document */


/******************************

[Table of Contents]

1. Fonts
2. Body and some general stuff
3. Home
	3.1 Language
	3.2 Main Navigation
	3.3 Hamburger Menu
	3.4 Logo
4. Library
5. Footer



******************************/


/***********
1. Fonts
***********/


/*********************************
2. Body and some general stuff
*********************************/

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 23px;
    font-weight: 400;
    background: #FFFFFF;
    color: #1e1e27;
}

div {
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

ul {
    list-style: none;
    margin-bottom: 0px;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 1.7;
    font-weight: 500;
    color: #989898;
    -webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
    text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
}

p a {
    display: inline;
    position: relative;
    color: inherit;
    border-bottom: solid 2px #fde0db;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

a,
a:hover,
a:visited,
a:active,
a:link {
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
    text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
}

p a:active {
    position: relative;
    color: #FF6347;
}

p a:hover {
    color: #FF6347;
    background: #fde0db;
}

p a:hover::after {
    opacity: 0.2;
}

::selection {
    background: #fde0db;
    color: #FF6347;
}

p::selection {
    background: #fde0db;
}

h1 {
    font-size: 72px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 28px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 16px;
}

h6 {
    font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #282828;
    -webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
    text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
}

h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection {}

::-webkit-input-placeholder {
    font-size: 16px !important;
    font-weight: 500;
    color: #777777 !important;
}

:-moz-placeholder
/* older Firefox*/

{
    font-size: 16px !important;
    font-weight: 500;
    color: #777777 !important;
}

::-moz-placeholder
/* Firefox 19+ */

{
    font-size: 16px !important;
    font-weight: 500;
    color: #777777 !important;
}

:-ms-input-placeholder {
    font-size: 16px !important;
    font-weight: 500;
    color: #777777 !important;
}

::input-placeholder {
    font-size: 16px !important;
    font-weight: 500;
    color: #777777 !important;
}

.form-control {
    color: #db5246;
}

section {
    display: block;
    position: relative;
    box-sizing: border-box;
}

.clear {
    clear: both;
}

.clearfix::before,
.clearfix::after {
    content: "";
    display: table;
}

.clearfix::after {
    clear: both;
}

.clearfix {
    zoom: 1;
}

.float_left {
    float: left;
}

.float_right {
    float: right;
}

.trans_200 {
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

.trans_300 {
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}

.trans_400 {
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
}

.trans_500 {
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.fill_height {
    height: 100%;
}

.super_container {
    width: 100%;
    overflow: hidden;
}


/*********************************
3. Home
*********************************/

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #FFFFFF;
    z-index: 10;
}

.top_nav {
    width: 100%;
    height: 50px;
    background: #1e1e27;
}

.top_nav_left {
    height: 50px;
    line-height: 50px;
    font-size: 13px;
    color: #b5aec4;
    text-transform: uppercase;
}

.top_nav_menu {
    float: left;
}

.empty {
    width: 100%;
    height: 100px;
    background: transparent;
}


/*********************************
3.1 Language
*********************************/

.language {
    display: inline-block;
    position: relative;
    min-width: 50px;
    border-right: solid 1px #33333b;
    padding-right: 20px;
    padding-left: 20px;
    text-align: center;
    vertical-align: middle;
    background: #1e1e27;
}

.language>a {
    display: block;
    color: #b5aec4;
    font-weight: 400;
    height: 50px;
    line-height: 50px;
    font-size: 13px;
}

.language>a>i {
    margin-left: 8px;
}

.language:hover .language_selection {
    visibility: visible;
    opacity: 1;
    top: 100%;
}

.language_selection {
    display: block;
    position: absolute;
    right: 0;
    top: 120%;
    margin: 0;
    width: 100%;
    background: #FFFFFF;
    visibility: hidden;
    opacity: 0;
    z-index: 1;
    box-shadow: 0 0 25px rgba(63, 78, 100, 0.15);
    -webkit-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    -ms-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: all 0.3s ease;
}

.language_selection li {
    padding-left: 10px;
    padding-right: 10px;
    line-height: 50px;
}

.language_selection li a {
    display: block;
    color: #232530;
    border-bottom: solid 1px #dddddd;
    font-size: 13px;
    -webkit-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    -ms-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: all 0.3s ease;
}

.language_selection li a:hover {
    color: #b5aec4;
}

.language_selection li:last-child a {
    border-bottom: none;
}


/*********************************
3.2 Main Navigation
*********************************/

.main_nav_container {
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.15);
}

.navbar {
    width: auto;
    height: 100px;
    float: right;
    padding-left: 0px;
    padding-right: 0px;
}

.navbar_menu li {
    display: inline-block;
}

.navbar_menu li a {
    display: block;
    color: #1e1e27;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 20px;
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    -ms-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
}

.navbar_menu li a:hover {
    color: #b5aec4;
}

.navbar_user {
    margin-left: 37px;
}

.navbar_user li {
    display: inline-block;
    text-align: center;
}

.navbar_user li a {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 40px;
    height: 40px;
    color: #1e1e27;
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    -ms-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
}

.navbar_user li a:hover {
    color: #b5aec4;
}

.checkout a {
    background: #eceff6;
    border-radius: 50%;
}

.checkout_items {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -9px;
    left: 22px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fe4c50;
    font-size: 12px;
    color: #FFFFFF;
}


/*********************************
3.3 Hamburger Menu
*********************************/

.hamburger_container {
    display: none;
    margin-left: 40px;
}

.hamburger_container i {
    font-size: 24px;
    color: #1e1e27;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}

.hamburger_container:hover i {
    color: #b5aec4;
}

.hamburger_menu {
    position: fixed;
    top: 0;
    right: -400px;
    width: 400px;
    height: 100vh;
    background: rgba(255, 255, 255, 0.95);
    z-index: 10;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}

.hamburger_menu.active {
    right: 0;
}

.fs_menu_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9;
    background: rgba(255, 255, 255, 0);
    pointer-events: none;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

.hamburger_close {
    position: absolute;
    top: 26px;
    right: 10px;
    padding: 10px;
    z-index: 1;
}

.hamburger_close i {
    font-size: 24px;
    color: #1e1e27;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}

.hamburger_close:hover i {
    color: #b5aec4;
}

.hamburger_menu_content {
    padding-top: 100px;
    width: 100%;
    height: 100%;
    padding-right: 20px;
}

.menu_item {
    display: block;
    position: relative;
    border-bottom: solid 1px #b5aec4;
    vertical-align: middle;
}

.menu_item>a {
    display: block;
    color: #1e1e27;
    font-weight: 500;
    height: 50px;
    line-height: 50px;
    font-size: 14px;
    text-transform: uppercase;
}

.menu_item>a:hover {
    color: #b5aec4;
}

.menu_item>a>i {
    margin-left: 8px;
}

.menu_item.active .menu_selection {
    display: block;
    visibility: visible;
    opacity: 1;
}

.menu_selection {
    margin: 0;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    z-index: 1;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.menu_selection li {
    padding-left: 10px;
    padding-right: 10px;
    line-height: 50px;
}

.menu_selection li a {
    display: block;
    color: #232530;
    border-bottom: solid 1px #dddddd;
    font-size: 13px;
    text-transform: uppercase;
    -webkit-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    -ms-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: all 0.3s ease;
}

.menu_selection li a:hover {
    color: #b5aec4;
}

.menu_selection li:last-child a {
    border-bottom: none;
}


/*********************************
3.4 Logo
*********************************/

.logo_container {
    float: left;
    width: 30%;
    text-align: center;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 15px;
}

.logo_container a {
    font-size: 17px;
    color: #1e1e27;
    font-weight: 600;
    margin-left: 5px;
}

.logo_container a span {
    color: #fe4c50;
}

.logo_name {
    margin-top: 0px;
}

.logo_image {
    margin-bottom: 0px;
}

.logo_container img {
    width: 20%;
}


/*********************************
4. Library
*********************************/

.library_container {
    margin-top: 5%;
    margin-bottom: 5%;
}

.product_item {
    width: 60%;
    margin: 20%;
    margin-top: 5%;
    margin-bottom: 0%;
    border-style: solid;
    border-radius: 25px;
}

.product_item img {
	float: left;
    width: 80px;
    height: 80px;
    margin-left: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-right: 3%;
    border-radius: 15px;
}

.product_data {
    display: inline-block;
    margin: 3%;
    margin-top: 1%;
}

.product_data p {
    color: black;
    font-style: italic;
    font-size: 12px;
}

.product_data h4 {
    color: #fe4c50;
}

.product_op i {
    font-size: 24px;
    color: #fe4c50;
}

.product_op {
    display: inline-table;
    float: right;
    right: 10px;
}

.product_op button {
    background-color: transparent;
    border-style: none;
    margin-left: 30px;
    margin-top: 15px;
}

.buttons {
    text-align: center;
}

.add_button {
    margin-bottom: 5%;
    margin-top: 0%;
    background-color: transparent;
    border-style: none;
}

.add_button i {
    color: #fe4c50;
    font-size: 45px;
}

.edit_button {
    margin-bottom: 5%;
    margin-top: 0%;
    margin-left: 3%;
    background-color: transparent;
    border-style: none;
}

.edit_button i {
    color: #fe4c50;
    font-size: 45px;
}

.modify_product {
    display: none;
    text-align: center;
    border-style: solid;
    border-radius: 25px;
    margin: 20%;
    margin-top: 0%;
    margin-bottom: 5%;
    border-width: 2px;
}

.modify_product_button {
    color: white;
    background-color: #fe4c50;
    border-color: #fe4c50;
    border-radius: 5px;
    margin-bottom: 2%;
}

.insert_product {
    display: none;
    text-align: center;
    border-style: solid;
    border-radius: 25px;
    margin: 20%;
    margin-top: 0%;
    margin-bottom: 5%;
    border-width: 2px;
}

.insert_product_button {
    color: white;
    background-color: #fe4c50;
    border-color: #fe4c50;
    border-radius: 5px;
    margin-bottom: 2%;
}

.insert_product_image {
    width: 90%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-style: solid;
    border-width: 1px;
}

.interests {
    display: inline-block;
    border-style: none;
    margin-bottom: 5%;
    margin-top: 5%;
  }
  .interests .anchor {
    position: relative;
    cursor: pointer;
    display: inline-block;
    padding: 2px 80px 2px 30px;
    border: 1px solid #ccc;
    
  }
  .interests .anchor:after {
    position: absolute;
    content: "";
    border-left: 2px solid black;
    border-top: 2px solid black;
    padding: 5px;
    right: 10px;
    top: 20%;
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }
  .interests ul.items {
    padding: 2px;
    height: 95px;
    margin: 0;
    border: 1px solid #ccc;
    border-top: none;
    overflow-y: scroll;
}
.items{
    display: none;
    text-align: left;

}
  .interests ul.items li {
    list-style: none;
}
.items li {
    padding-left: 5px;
    padding-right: 10px;
    border-radius: 5px; 
    margin: 2px;
    background-color: #fe4c50;
}
.insert_product_description{
width: -webkit-fill-available;
margin-left: 5%;
margin-right: 5%;
}
.modify_product_description{
width: -webkit-fill-available;
margin-left: 5%;
margin-right: 5%;
}
/*********************************
5. Footer
*********************************/

footer {
    background-color: black;
}

.footer_nav_container {
    height: 130px;
}

.cr {
    margin-right: 48px;
}

.footer_nav li {
    display: inline-block;
    margin-right: 45px;
}

.footer_nav li:last-child {
    margin-right: 0px;
}

.footer_nav li a,
.cr {
    font-size: 14px;
    color: #51545f;
    line-height: 30px;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}

.footer_nav li a:hover,
.cr a,
.cr i {
    color: #fe4c50;
}

.footer_social {
    height: 130px;
}

.footer_social ul li {
    display: inline-block;
    margin-right: 10px;
}

.footer_social ul li:last-child {
    margin-right: 0px;
}

.footer_social ul li a {
    color: #51545f;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
    padding: 10px;
}

.footer_social ul li:last-child a {
    padding-right: 0px;
}

.footer_social ul li a:hover {
    color: #fe4c50;
}